@{
    ViewData["Title"] = "Nhân 2 số";
}

    @if (ViewData["tích"] != null)
    {
        <div class="alert alert-success mt-3 text-center">
            <h3> @ViewData["tích"] </h3>
        </div>
    }